
body {
  background-color: Thistle;
  font-family:"Helvetica", sans-serif;
  color:darkorchid;
}
h1 {
  color:darkorchid;
  font-family: serif;
}
nav ul {
  background-color: plum;
  border-style: groove;
  border-color: plum;
  border-width: 2px;
  padding: 15px;
}





















/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid orchid;
  border-collapse: collapse;
}
tr {
  background-color: plum;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}